<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SwedbankAccountUrlFormat" value="https://mobilbank.swedbank.se/banking/swedbank/account.html?id={0}"/>
    <add key="SwedbankLoginUrl" value="https://mobilbank.swedbank.se/banking/swedbank/login.html"/>
    <add key="SwedbankLoginNextUrl" value="https://mobilbank.swedbank.se/banking/swedbank/loginNext.html"/>

    <add key="SwedbankCivicNumber" value="XXXXXXXXXX"/>
    <add key="SwedbankPassword" value="XXXXXX"/>
    <add key="SwedbankAccountId" value="0"/>
  </appSettings>
</configuration>